* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt-white {
  color: whitesmoke;
}
.txt-center {
  text-align: center;
}
.background {
  background-image: url("./Images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #fb9d5c;
}
.nav-menu {
  text-decoration: none;
  display: flex;
  gap: 60px;
  font-size: 22px;
}
.txt-oragne {
  color: #fb9d5c;
}

.mt {
  margin-top: 50px;
}
.gap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #fb9d5c;
}

.box {
  margin-left: 10%;
  margin-right: 10%;
  /* margin: auto; */
  background-color: #f9f9f9;
}
.pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-container {
  width: 70vw;
  gap: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 50px;
}
.hire-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #0dcaf0;
}

.gapx {
  margin-left: 20px;
  margin-right: 20px;
}
.txt-hire {
  font-style: bold;
  font-weight: 800;
  font-size: 48px;
}

.txt {
  font-size: 18px;
}

.footer-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
}
.footer-txt {
  color: #c0baba;
}
::placeholder {
  color: #ffffff;
}
.footer-title {
  font-size: 20px;
}
li,
p {
  line-height: 1.5;
}
